@import 'utilities/_variables';

// Malabon Location

.map-address-1 {
  //background-color: cyan;
  @include breakpoint(min-width 1024px) {
    //   position: relative;
    // z-index: 10;
    float: left;
    width: 610px;
  }
} 

// .map-address-1::before {
//   @include breakpoint(min-width 1024px) {
//     content: "";
//     width: 480px;
//     height: 395px;
//     position: absolute;
//     //background-color: red;
//     border-right: 1px solid $light-gray;

//   }
// }

.map-address-2 {
  //background-color: lime;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $gray-light;
  @include breakpoint(min-width 1024px) {
    float: right;
    width: 300px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
    // border-left: 1px solid $light-gray;
  }
}

// Malabon Map
.custom-spacing {
  margin: 10px 0 10px 0;
  // padding: 0;
  @include breakpoint(min-width 768px) {
        font-size: 24px;
        text-align: center;
        margin: 15px 0 15px 0;
  }
}

.map-mal-tag {
  //background-color: red;
      max-width: 100%;
      height: 300px;
      margin: 0 auto 10px auto;
      //padding-top: 33.33%;
      //position: relative;
      @include breakpoint(min-width 1024px) {
        height: 400px;
      }
    }
    .map-mal-tag iframe {
        width: 100%;
        height: 100%; /* had to specify height/width */
        // position: absolute;
        // top: 0; 
        // right: 0;
        // left: 0; 
        // bottom: 0;   
      }

// Malabon
.table-location {
  // border-collapse: collapse;
  // background-color: cyan;
  // width: 100%;
}

.table-location td {
  vertical-align: top;
}

.table-location td {
  vertical-align: top;
}

.table-location tr {
  height: 50px;
}

.table-day {
  width: 110px;
}

// Tagaytay
.tag-table-location td {
  vertical-align: top;
}

.tag-table-location td {
  vertical-align: top;
}

.tag-table-location tr {
  height: 30px;
}

.tag-table-day-2 {
  width: 110px;
}