@import 'utilities/_variables';

//-------------------------------------------------------//
html {
  @include breakpoint(min-width 640px) {
    background: url('../img/wood-03.jpg') 0 0 scroll;
    background-repeat: repeat-y;
    background-size: 100% 100%;
  }
}

a[href^=tel] { 
  color: inherit; 
  // text-decoration: none; 
}

.content-holder-all {
  @include clearfix;
  background-color: $white;
  padding-bottom: 25px;
}

.content-main-padding {
  width: 100%;
  height: 25px;
  display: block;
  background-color: blue; // $aubergine;
  visibility: hidden;
  @include breakpoint(min-width 540px) {

  }
  @include breakpoint(min-width 768px) {
    height: 30px;
  }
  @include breakpoint(min-width 1024px) {
    height: 30px;
  }
}
//-------------------------------------------------------//

.hero {
  width: 96%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.content-main {
  @include clearfix;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;
  width: 90%;
  // background-color: red;
  @include breakpoint(min-width 540px) {

  }
  @include breakpoint(min-width 768px) {
    width: 700px;
  }
  @include breakpoint(min-width 1024px) {
    position: relative;
    width: 960px;
    // width: 95%;
  }
}

.address-1 {
  //background-color: cyan;
  @include breakpoint(min-width 1024px) {
    position: relative;
    //   position: relative;
    // z-index: 10;
    float: left;
    width: 450px;
    z-index: 2;
  }
} 

.address-1::before {
  @include breakpoint(min-width 1024px) {
    content: "";
    width: 480px;
    height: 395px;
    position: absolute;
    //background-color: red;
    border-right: 1px solid $light-gray;
    z-index: -1;

  }
}

.address-2 {
  //background-color: lime;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $gray-light;
  @include breakpoint(min-width 1024px) {
    float: right;
    width: 450px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
    // border-left: 1px solid $light-gray;
  }
}

// About
.about-image-01, .about-image-02, .about-image-03, .about-image-04 {
  //visibility: hidden;
  max-width: 100%;
  height: auto;
}
.about-image-01 {
  //position: absolute;
  @include breakpoint(min-width 481px) {
    display: none;
  }
} 
.about-image-02 {
  display: none;
  @include breakpoint(min-width 481px) {
    display: block;
  }
  @include breakpoint(min-width 768px) {
    display: none;
  }
} 
.about-image-03 {
  display: none;
  @include breakpoint(min-width 768px) {
    display: block;
  }
  @include breakpoint(min-width 1024px) {
    display: none;
  }
} 
.about-image-04 {
  max-width: 100%;
  height: auto;
  display: none;
  @include breakpoint(min-width 1024px) {
    display: block;
  }
} 

// Belly's Restaurant Tagaytay Image
.bellys-image-tag-1 {
  max-width: 100%;
  height: auto;
  @include breakpoint(min-width 481px) {
    display: none;
  }
}
.bellys-image-tag-2 {
  display: none;
  @include breakpoint(min-width 481px) {
    display: block;  
    max-width: 100%;
    height: auto;
  }
  @include breakpoint(min-width 768px) {
    display: none;
  }
}
.bellys-image-tag-3 {
  display: none;
  @include breakpoint(min-width 768px) {
    display: block;  
    max-width: 100%;
    height: auto;
    //visibility: hidden;
    //visibility: hidden;
  }
  // @include breakpoint(min-width 1024px) {
  //   display: none;
  // }
}
.bellys-image-tag-4 {
  display: none;
  @include breakpoint(min-width 1024px) {
    display: block;  
    max-width: 100%;
    height: auto;
  }
}

.bellys-image-tag-1, .bellys-image-tag-2, .bellys-image-tag-3, .bellys-image-tag-4 {
  //background-color: cyan !important;
  //visibility: hidden;
}

// Belly's Restaurant Malabon Image
.bellys-image-mal-1 {
  max-width: 100%;
  height: auto;
  @include breakpoint(min-width 481px) {
    display: none;
  }
}
.bellys-image-mal-2 {
  display: none;
  @include breakpoint(min-width 481px) {
    display: block;  
    max-width: 100%;
    height: auto;
  }
  @include breakpoint(min-width 768px) {
    display: none;
  }
}
.bellys-image-mal-3 {
  display: none;
  @include breakpoint(min-width 768px) {
    display: block;  
    max-width: 100%;
    height: auto;
  }
  // @include breakpoint(min-width 1024px) {
  //   display: none;
  // }
}
.bellys-image-mal-4 {
  display: none;
  @include breakpoint(min-width 1024px) {
    display: block;  
    max-width: 100%;
    height: auto;
  }
}

.my-border {
  border: 7px solid $aubergine;
}







// ---- START ".main-container" ---- //
@media screen and (min-width: 320px) {
  html, body {
    height: 100%;
    }
  .main-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }
}

.main-container {
  @include clearfix;
  position: relative;
  // background-color: maroon; //$aubergine
  background-color: $aubergine;

// 321px to 480px
    @include breakpoint($breakpoint-level-1) {
          //@include container(max-width 480px);
          @include show-grid(10);
    }

// 481px to 767px
    @include breakpoint($breakpoint-level-2) {
          // width: 100%;
          // min-height: 100%;
          @include show-grid(12);
          @include container(max-width 640px);
    }

    @include breakpoint(min-width 640px) {
        @include box-shadow(#000000 0px 0px 10px);
    }

// 768px to 1023px
    @include breakpoint($breakpoint-level-3) {
          @include container(max-width 768px);
          @include show-grid(14);
    }

// 1024 and up 
    @include breakpoint($breakpoint-level-4) {
          @include container(max-width 1024px);
          @include show-grid(16);
    }
}
// ---- END ".main-container" ---- //